* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.app {
  width: 100%;
  max-width: 900px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 28px;
}

header button {
  padding: 10px 15px;
  border: none;
  background: #4f46e5;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

header button:hover {
  background: #4338ca;
}

/* Form */
.note-form {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: none;
}

.note-form input,
.note-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.note-form textarea {
  resize: none;
  height: 100px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-actions .save {
  background: #16a34a;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.form-actions .cancel {
  background: #dc2626;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
 
}



/* Notes Grid */
.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.note-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  position: relative;
}

.note-card h3 {
  margin-bottom: 8px;
}

.note-card p {
  font-size: 14px;
  color: #444;
  margin-bottom: 30px;
}

.note-card .delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background: #ef4444;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.note-card .delete:hover {
  background: #dc2626;
}
